page-home {
    .center-div {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .icon {
        font-size: 5rem;
    }

    .len {
        .item-inner {
            border-bottom: none !important;
            padding: 0;
        }
    }
    .center {
        width: 100%;
        text-align: center;
    }

    .info {
        .label {
            text-align: center;
        }
    }
}
